NodeRed/flow.json
[
    {
        "id": "15bd93b7886c7131",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d1089477f5a0571",
        "type": "ui-text",
        "z": "15bd93b7886c7131",
        "group": "acf8919149992d2c",
        "order": 2,
        "width": "12",
        "height": "2",
        "name": "Humidity",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "044e9984020b2f1a",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "700a915d250de3e6",
        "name": "Temprature Chart",
        "label": "Temprature ",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Degree(C)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "10",
        "ymax": "40",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 910,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d37a58b787868b98",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "3bea1f8c830ff158",
        "name": "CO2 Chart",
        "label": "CO2",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ppm",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "400",
        "ymax": "2500",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "cbba22f5d7f89a58",
        "type": "ui-text",
        "z": "15bd93b7886c7131",
        "group": "acf8919149992d2c",
        "order": 1,
        "width": "12",
        "height": "2",
        "name": "Temprature",
        "label": "Temprature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "189d32373eded191",
        "type": "ui-text",
        "z": "15bd93b7886c7131",
        "group": "acf8919149992d2c",
        "order": 3,
        "width": "12",
        "height": "2",
        "name": "CO2",
        "label": "CO2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "2ec76f958ba37048",
        "type": "ui-text",
        "z": "15bd93b7886c7131",
        "group": "acf8919149992d2c",
        "order": 4,
        "width": "12",
        "height": "2",
        "name": "NOx",
        "label": "NOx",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.nox",
        "valueType": "msg",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "9fe2d695460615a0",
        "type": "ui-gauge",
        "z": "15bd93b7886c7131",
        "name": "NOx gauge",
        "group": "0c07a3e318ba2677",
        "order": 1,
        "value": "payload.nox",
        "valueType": "msg",
        "width": "6",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "NOx",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "PPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8e09cb7fd0458b2e",
        "type": "ui-gauge",
        "z": "15bd93b7886c7131",
        "name": "Humidity Gauge",
        "group": "0c07a3e318ba2677",
        "order": 2,
        "value": "",
        "valueType": "msg",
        "width": "6",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Humidity",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "75",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 900,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "82f37060c41e2882",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "3bea1f8c830ff158",
        "name": "NOx Chart",
        "label": "NOx",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.nox",
        "yAxisPropertyType": "msg",
        "ymin": "10",
        "ymax": "300",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5e09abdaf6242792",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "700a915d250de3e6",
        "name": "Humidity Chart",
        "label": "Humidity",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "RH",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0625139630e51da9",
        "type": "ui-template",
        "z": "15bd93b7886c7131",
        "group": "",
        "page": "",
        "ui": "5da2711f0655a739",
        "name": "Modern Charts",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* CHART CARD CONTAINER */\n.nrdb-ui-widget.nrdb-ui-chart {\n  background: #ffffff;\n  border-radius: 22px;\n  padding: 14px 16px 12px;\n  transition: transform 0.2s ease;\n}\n\n/* INNER CONTAINER */\n.nrdb-ui-chart-container {\n  border-radius: 16px;\n  overflow: hidden;\n}\n\n/* ECHARTS ROOT */\n.nrdb-ui-chart {\n  font-family: \"Inter\", \"Segoe UI\", Roboto, sans-serif !important;\n}\n\n/* CANVAS CLEANUP */\n.nrdb-ui-chart canvas {\n  border-radius: 12px;\n}\n\n/* TOOLTIP */\n.echarts-tooltip {\n  background: #ffffff !important;\n  color: #111827 !important;\n  border-radius: 10px !important;\n  box-shadow: 0 8px 20px rgba(0,0,0,0.15) !important;\n  padding: 8px 10px !important;\n  font-size: 0.85rem !important;\n}\n\n/* AXIS LABELS */\n.nrdb-ui-chart text {\n  font-size: 0.75rem !important;\n  fill: #6b7280 !important;\n}\n\n/* GRID LINES (SUBTLE) */\n.nrdb-ui-chart line {\n  stroke: #e5e7eb !important;\n  stroke-width: 1;\n}\n\n/* LEGEND */\n.nrdb-ui-chart .echarts-legend text {\n  fill: #374151 !important;\n  font-size: 0.8rem !important;\n}\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3570dfc550c99963",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "982541f34a3c4ab5",
        "name": "PM10 Chart",
        "label": "PM10",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m3",
        "yAxisProperty": "payload.pm10",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "150",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "476ba76a3e7275f8",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "982541f34a3c4ab5",
        "name": "PM1 Chart",
        "label": "PM1",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m3",
        "yAxisProperty": "payload.pm1",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "150",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "02315f3817b98989",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "982541f34a3c4ab5",
        "name": "PM2.5 Chart",
        "label": "PM2.5",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m3",
        "yAxisProperty": "payload.pm2_5",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "150",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "19956109dc6e69d5",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "982541f34a3c4ab5",
        "name": "PM4 Chart",
        "label": "PM4",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m3",
        "yAxisProperty": "payload.pm4",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "150",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "47b6ad1a53db9823",
        "type": "ui-chart",
        "z": "15bd93b7886c7131",
        "group": "982541f34a3c4ab5",
        "name": "VOC Chart",
        "label": "VOC",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.voc",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "500",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 890,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "9765dd636e301d8f",
        "type": "ui-template",
        "z": "15bd93b7886c7131",
        "group": "508d9501dc585766",
        "page": "",
        "ui": "",
        "name": "Apex Chart",
        "order": 5,
        "width": "30",
        "height": 7,
        "head": "",
        "format": "<template>\n  <div class=\"card-body\">\n    <div class=\"dashboard-container\">\n      <div class=\"stat-card\">\n        <div class=\"icon bg-primary\">\n          <i class=\"ph ph-users\"></i>\n        </div>\n        <div id=\"temp-stat\" class=\"stat-text\">\n          <h6>Temperature</h6>\n          <h4>--</h4>\n        </div>\n      </div>\n\n      <div class=\"stat-card\">\n        <div class=\"icon bg-success\">\n          <i class=\"ph ph-chart-line-up\"></i>\n        </div>\n        <div id=\"humid-stat\" class=\"stat-text\">\n          <h6>Humidity</h6>\n          <h4>--</h4>\n        </div>\n      </div>\n    </div>\n\n    <div id=\"real-time-chart\" ref=\"chart\" style=\"width: 100%\"></div>\n  </div>\n</template>\n\n<style>\n  /* Container centers all cards horizontally */\n  .dashboard-container {\n    display: none;\n    justify-content: center;\n    /* center horizontally */\n    align-items: center;\n    /* optional: vertical alignment */\n    gap: 40px;\n    /* space between cards */\n    flex-wrap: wrap;\n    /* wrap on small screens */\n    padding: 20px;\n    width: 100%;\n    box-sizing: border-box;\n  }\n\n  /* Individual card */\n  .stat-card {\n    display: flex;\n    align-items: center;\n    background: #f8f9fa;\n    padding: 10px 10px;\n    border-radius: 10px;\n    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);\n    min-width: 150px;\n  }\n\n  /* Circle icon */\n  .icon {\n    width: 40px;\n    height: 40px;\n    border-radius: 50%;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    color: white;\n    margin-right: 15px;\n  }\n\n  /* Icon background colors */\n  .bg-primary {\n    background-color: #4680ff;\n  }\n\n  .bg-success {\n    background-color: #28a745;\n  }\n\n  /* Text styling */\n  .stat-text h6 {\n    margin: 0;\n    font-size: 14px;\n    color: #555;\n  }\n\n  .stat-text h4 {\n    margin: 0;\n    font-weight: 300;\n    font-size: 24px;\n    color: #222;\n  }\n\n  /* Responsive: stack on small screens */\n  @media (max-width: 500px) {\n    .dashboard-container {\n      flex-direction: column;\n      gap: 20px;\n      align-items: center;\n    }\n  }\n</style>\n\n<!-- Load ApexCharts CDN -->\n<script src=\"https://cdn.jsdelivr.net/npm/apexcharts@3.45.2/dist/apexcharts.min.js\"></script>\n\n<script>\nexport default {\n  data() {\n    return {\n      chart: null,\n      maxPoints: 20,\n      seriesData: [],\n      apexReady: false\n    }\n  },\n\n  mounted() {\n\n    // wait for CDN to load\n    const waitForApex = setInterval(() => {\n\n      if (window.ApexCharts) {\n\n        clearInterval(waitForApex)\n\n        this.initChart()\n\n        this.apexReady = true\n      }\n\n    }, 100)\n\n  },\n\n  methods: {\n\n    initChart() {\n\n      this.chart = new ApexCharts(this.$refs.chart, {\n        chart: {\n          type: \"area\",\n          height: 350,\n          toolbar: { show: false },\n          animations: { enabled: false }\n        },\n        dataLabels: { enabled: false },\n        stroke: { curve: \"smooth\", width: 2 },\n        fill: {\n          type: \"gradient\",\n          gradient: {\n            shadeIntensity: 1,\n            opacityFrom: 0.65,\n            opacityTo: 0.5\n          }\n        },\n        colors: [\"#4680ff\", \"#28a745\"],\n        series: [\n          { name: \"Temperature (°C)\", data: [] },\n          { name: \"Humidity (%)\", data: [] }\n        ],\n        xaxis: { type: \"datetime\" },\n        yaxis: [\n          { title: { text: \"Temperature (°C)\" } },\n          { opposite: true, title: { text: \"Humidity (%)\" } }\n        ],\n        legend: { position: \"top\" }\n      })\n\n      this.chart.render()\n\n      // watch incoming Node-RED msg\n      this.$watch(\n        () => this.msg,\n        this.updateChart,\n        { deep: true }\n      )\n    },\n\n    updateChart(msg) {\n\n      if (!this.apexReady || !msg?.payload) return\n\n      const now = Date.now()\n\n      const t = msg.payload.temperature ?? null\n      const h = msg.payload.humidity ?? null\n\n      const last = this.seriesData[this.seriesData.length - 1] || {}\n\n      this.seriesData.push({\n        ts: now,\n        t: t ?? last.t ?? null,\n        h: h ?? last.h ?? null\n      })\n\n      if (this.seriesData.length > this.maxPoints)\n        this.seriesData.shift()\n\n      const tempData = this.seriesData.map(p => [p.ts, p.t])\n      const humData  = this.seriesData.map(p => [p.ts, p.h])\n\n      document.querySelector(\"#temp-stat h4\").innerHTML =\n        tempData.at(-1)[1]?.toFixed(2) ?? \"--\"\n\n      document.querySelector(\"#humid-stat h4\").innerHTML =\n        humData.at(-1)[1]?.toFixed(1) ?? \"--\"\n\n      this.chart.updateSeries([\n        { name: \"Temperature (°C)\", data: tempData },\n        { name: \"Humidity (%)\", data: humData }\n      ])\n    }\n\n  }\n}\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7f1371cf4022c473",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 10",
        "func": "const temperature = {\n    temperature: msg.payload\n};\n\nreturn { payload: temperature };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 240,
        "wires": [
            [
                "9765dd636e301d8f"
            ]
        ]
    },
    {
        "id": "15d9518886e8ce84",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 11",
        "func": "const humidity = {\n    humidity: msg.payload\n};\n\nreturn { payload: humidity };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 280,
        "wires": [
            [
                "9765dd636e301d8f"
            ]
        ]
    },
    {
        "id": "450e0797578d71c4",
        "type": "ui-template",
        "z": "15bd93b7886c7131",
        "group": "",
        "page": "",
        "ui": "5da2711f0655a739",
        "name": "Modern TextBox",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* ================================================= */\n/* LIGHT MODE — WHITE BACKGROUND */\n/* ================================================= */\n\n:root {\n  --bg-main: #ffffff;\n\n  /* GLASS (LIGHT) */\n  --glass-bg-strong: rgba(255, 255, 255, 0.75);\n  --glass-bg-soft: rgba(255, 255, 255, 0.45);\n  --glass-border: rgba(17, 24, 39, 0.08);\n  --glass-shadow: 0 8px 24px rgba(17, 24, 39, 0.12);\n  --glass-blur: blur(10px);\n\n  /* TEXT */\n  --text-main: #111827;\n  --text-muted: #6b7280;\n\n  /* ACCENTS */\n  --accent-blue: #7c5cff;\n  --accent-green: #22c55e;\n  --accent-amber: #f59e0b;\n  --accent-red: #ef4444;\n}\n\n\n\n/* ================================================= */\n/* TEXT CARD — GLASS BASE */\n/* ================================================= */\n\n.nrdb-ui-widget.nrdb-ui-text {\n  background: linear-gradient(\n    135deg,\n    var(--glass-bg-strong),\n    var(--glass-bg-soft)\n  );\n\n  backdrop-filter: var(--glass-blur);\n  -webkit-backdrop-filter: var(--glass-blur);\n\n  border-radius: clamp(14px, 2vw, 18px);\n  padding: clamp(10px, 2.5vw, 14px);\n\n  border: 1px solid var(--glass-border);\n  box-shadow: var(--glass-shadow);\n}\n\n/* ================================================= */\n/* INNER LAYOUT */\n/* ================================================= */\n\n.nrdb-ui-text > .nrdb-ui-text {\n  display: flex !important;\n  flex-direction: column;\n  justify-content: center;\n  align-items: center;\n  height: 100%;\n  text-align: center;\n  font-family: \"Inter\", \"Segoe UI\", Roboto, sans-serif !important;\n}\n\n/* ================================================= */\n/* TITLE */\n/* ================================================= */\n\n.nrdb-ui-text-label {\n  font-size: clamp(0.7rem, 1.8vw, 0.85rem) !important;\n  font-weight: 600 !important;\n  letter-spacing: 0.14em !important;\n  text-transform: uppercase;\n  color: var(--text-muted) !important;\n  margin-bottom: clamp(4px, 1.5vw, 8px) !important;\n}\n\n/* ================================================= */\n/* VALUE */\n/* ================================================= */\n\n.nrdb-ui-text-value {\n  font-size: clamp(1.4rem, 5vw, 2.3rem) !important;\n  font-weight: 600;\n  line-height: 1.1;\n  color: var(--text-main) !important;\n\n  /* subtle clarity on white */\n  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);\n}\n\n/* ================================================= */\n/* UNIT */\n/* ================================================= */\n\n.nrdb-ui-text-value span {\n  font-size: clamp(0.8rem, 2.5vw, 1.1rem);\n  margin-left: 4px;\n  color: var(--text-muted);\n}\n\n/* ================================================= */\n/* STATUS COLORS */\n/* ================================================= */\n\n.ff-ok {\n  color: var(--accent-green) !important;\n}\n\n.ff-warn {\n  color: var(--accent-amber) !important;\n}\n\n.ff-alert {\n  color: var(--accent-red) !important;\n}\n\n.ff-muted {\n  color: var(--text-muted) !important;\n}\n\n/* ================================================= */\n/* COMPACT MODE */\n/* ================================================= */\n\n.nrdb-ui-widget[data-compact=\"true\"] .nrdb-ui-text-value {\n  font-size: clamp(1.1rem, 4vw, 1.6rem) !important;\n}\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 220,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e87961ebdbe54fcc",
        "type": "inject",
        "z": "15bd93b7886c7131",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "6896149cbde6316c"
            ]
        ]
    },
    {
        "id": "cf0e4da6148fb8a3",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/temperature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1620,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ca6ed0b3ee10930",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/humidity",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1610,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f1e8f1e73ddcdd2",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/co2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1600,
        "y": 240,
        "wires": []
    },
    {
        "id": "4813b14898faca60",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/NOx",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1600,
        "y": 320,
        "wires": []
    },
    {
        "id": "d2df06dafa9967b6",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/pm1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1600,
        "y": 400,
        "wires": []
    },
    {
        "id": "6896149cbde6316c",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "Dummy Generator",
        "func": "// Helper functions\nfunction clamp(val, min, max) {\n    return Math.min(Math.max(val, min), max);\n}\n\nfunction vary(prev, min, max, step = 0.5) {\n    const delta = (Math.random() * 2 - 1) * step;\n    return clamp(prev + delta, min, max);\n}\n\n// Load previous values or initialize\nlet state = context.get(\"state\") || {\n    temp: 24.0,       // °C\n    humidity: 45.0,   // %\n    co2: 600,         // ppm\n    nox: 20,          // ppb\n    voc: 150,         // ppb\n    pm1: 5.0,         // µg/m³\n    pm2_5: 8.0,       // µg/m³\n    pm4: 10.0,        // µg/m³\n    pm10: 15.0        // µg/m³\n};\n\n// Apply small realistic variations\nstate.temp     = vary(state.temp, 21, 27, 0.2);\nstate.humidity = vary(state.humidity, 35, 60, 0.5);\nstate.co2      = vary(state.co2, 450, 1200, 20);\nstate.nox      = vary(state.nox, 5, 80, 3);\nstate.voc      = vary(state.voc, 80, 400, 10);\nstate.pm1      = vary(state.pm1, 0, 20, 0.5);\nstate.pm2_5    = vary(state.pm2_5, 0, 35, 0.7);\nstate.pm4      = vary(state.pm4, 0, 50, 1);\nstate.pm10     = vary(state.pm10, 0, 75, 1.5);\n\n// Save state\ncontext.set(\"state\", state);\n\n// Output payload\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    temp: Number(state.temp.toFixed(1)),\n    humidity: Number(state.humidity.toFixed(1)),\n    co2: Math.round(state.co2),\n    nox: Math.round(state.nox),\n    voc: Math.round(state.voc),\n    pm1: Number(state.pm1.toFixed(1)),\n    pm2_5: Number(state.pm2_5.toFixed(1)),\n    pm4: Number(state.pm4.toFixed(1)),\n    pm10: Number(state.pm10.toFixed(1))\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "7393de84a9278d30",
                "c3f050cab3752789",
                "7d2edd79ab92f174",
                "face721e6d71b041",
                "8e7aaa6be24dc712",
                "fd4842c9aeec00df",
                "918b6e91dadb0ac5",
                "bd98dc8848e34036",
                "a1c42bef661b23f1"
            ]
        ]
    },
    {
        "id": "7393de84a9278d30",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 1",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 80,
        "wires": [
            [
                "cf0e4da6148fb8a3"
            ]
        ]
    },
    {
        "id": "c3f050cab3752789",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 2",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 160,
        "wires": [
            [
                "0ca6ed0b3ee10930"
            ]
        ]
    },
    {
        "id": "7d2edd79ab92f174",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 3",
        "func": "msg.payload = msg.payload.co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 240,
        "wires": [
            [
                "7f1e8f1e73ddcdd2"
            ]
        ]
    },
    {
        "id": "face721e6d71b041",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 4",
        "func": "msg.payload = msg.payload.nox;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 320,
        "wires": [
            [
                "4813b14898faca60"
            ]
        ]
    },
    {
        "id": "8e7aaa6be24dc712",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 5",
        "func": "msg.payload = msg.payload.pm1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 400,
        "wires": [
            [
                "d2df06dafa9967b6"
            ]
        ]
    },
    {
        "id": "32ad9e0f95ef4fe8",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/pm2_5",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1610,
        "y": 480,
        "wires": []
    },
    {
        "id": "fd4842c9aeec00df",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 6",
        "func": "\nmsg.payload=msg.payload.pm2_5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 480,
        "wires": [
            [
                "32ad9e0f95ef4fe8"
            ]
        ]
    },
    {
        "id": "77813bb9a18e46fd",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/pm4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1600,
        "y": 560,
        "wires": []
    },
    {
        "id": "918b6e91dadb0ac5",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 7",
        "func": "\nmsg.payload = msg.payload.pm4;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 560,
        "wires": [
            [
                "77813bb9a18e46fd"
            ]
        ]
    },
    {
        "id": "ee44646eadee3ced",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/pm10",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1600,
        "y": 640,
        "wires": []
    },
    {
        "id": "bd98dc8848e34036",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 8",
        "func": "\nmsg.payload = msg.payload.pm10;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 640,
        "wires": [
            [
                "ee44646eadee3ced"
            ]
        ]
    },
    {
        "id": "7e271c6d793b493f",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "esp/voc",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2104f2a6263e80a8",
        "x": 1600,
        "y": 720,
        "wires": []
    },
    {
        "id": "a1c42bef661b23f1",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 9",
        "func": "\nmsg.payload = msg.payload.voc;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 720,
        "wires": [
            [
                "7e271c6d793b493f"
            ]
        ]
    },
    {
        "id": "482ff87c807d17ff",
        "type": "ui-text",
        "z": "15bd93b7886c7131",
        "group": "acf8919149992d2c",
        "order": 5,
        "width": "12",
        "height": "2",
        "name": "Occupancy",
        "label": "Occupancy",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.count",
        "valueType": "msg",
        "x": 890,
        "y": 980,
        "wires": []
    },
    {
        "id": "d51ddfae7141c655",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "cam/occupancy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4f2ad3e6fd984269",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 980,
        "wires": [
            [
                "482ff87c807d17ff"
            ]
        ]
    },
    {
        "id": "fa483d5cc00313de",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "AC1",
        "topic": "control/ac1/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4f2ad3e6fd984269",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 880,
        "wires": [
            [
                "5cb7ea20e972f1cc",
                "2dbacb884cb615e8"
            ]
        ]
    },
    {
        "id": "55d847c452227d7b",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "AC1",
        "topic": "control/ac1/command",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f2ad3e6fd984269",
        "x": 1610,
        "y": 880,
        "wires": []
    },
    {
        "id": "cfffb4d6f26fd2f8",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "Temp Modifier",
        "func": "let temp = msg.payload.temperature;\n\nmsg.payload = Number(temp?.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "7f1371cf4022c473",
                "044e9984020b2f1a",
                "cbba22f5d7f89a58"
            ]
        ]
    },
    {
        "id": "c05d57273667b582",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "Humid Modifier",
        "func": "let humi = msg.payload.humidity;\n\nmsg.payload = Number(humi?.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            [
                "15d9518886e8ce84",
                "5e09abdaf6242792",
                "8e09cb7fd0458b2e",
                "8d1089477f5a0571"
            ]
        ]
    },
    {
        "id": "5fdd812f0490a1f5",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "CO2 Modifier",
        "func": "let co2 = msg.payload.co2;\n\nmsg.payload = Number(co2.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "d37a58b787868b98",
                "189d32373eded191"
            ]
        ]
    },
    {
        "id": "1012d6b424e9f207",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "sensor/data/scd30",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cab09f144bd01e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "c05d57273667b582",
                "cfffb4d6f26fd2f8",
                "5fdd812f0490a1f5"
            ]
        ]
    },
    {
        "id": "88a98543a2c93377",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "sensor/data/sen55",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cab09f144bd01e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "817f0d901e825303",
        "type": "debug",
        "z": "15bd93b7886c7131",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 820,
        "wires": []
    },
    {
        "id": "5cb7ea20e972f1cc",
        "type": "debug",
        "z": "15bd93b7886c7131",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 820,
        "wires": []
    },
    {
        "id": "2dbacb884cb615e8",
        "type": "ui-button-group",
        "z": "15bd93b7886c7131",
        "name": "AC1 Button",
        "group": "508d9501dc585766",
        "order": 1,
        "width": 7,
        "height": "3",
        "label": "AC1",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "icon": "power-off",
                "value": "{\"power\":\"off\"}",
                "valueType": "json",
                "color": "#009933"
            },
            {
                "label": "ON",
                "icon": "air-conditioner",
                "value": "{\"power\":\"on\"}",
                "valueType": "json",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "str",
        "x": 1450,
        "y": 880,
        "wires": [
            [
                "817f0d901e825303",
                "55d847c452227d7b"
            ]
        ]
    },
    {
        "id": "73f5410955df9407",
        "type": "ui-button-group",
        "z": "15bd93b7886c7131",
        "name": "Exhaust",
        "group": "508d9501dc585766",
        "order": 3,
        "width": 7,
        "height": 3,
        "label": "Exhaust",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "icon": "fan-off",
                "value": "{\"power\":\"off\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#009933"
            },
            {
                "label": "ON",
                "icon": "fan",
                "value": "{\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "str",
        "x": 1440,
        "y": 1000,
        "wires": [
            [
                "1a31660929a895a7"
            ]
        ]
    },
    {
        "id": "e7cc8a1b6db9d872",
        "type": "ui-button-group",
        "z": "15bd93b7886c7131",
        "name": "AC2 Button",
        "group": "508d9501dc585766",
        "order": 2,
        "width": 7,
        "height": "3",
        "label": "AC2",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "icon": "power-off",
                "value": "{\"power\":\"off\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#009933"
            },
            {
                "label": "ON",
                "icon": "air-conditioner",
                "value": "{\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "str",
        "x": 1450,
        "y": 940,
        "wires": [
            [
                "5c9ba1f9c391a06a"
            ]
        ]
    },
    {
        "id": "e33f3316d14bbe74",
        "type": "ui-button-group",
        "z": "15bd93b7886c7131",
        "name": "All Lights",
        "group": "508d9501dc585766",
        "order": 4,
        "width": 7,
        "height": "3",
        "label": "All Lights",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "icon": "lightbulb-off",
                "value": "{\"power\":\"off\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#009933"
            },
            {
                "label": "ON",
                "icon": "lightbulb-on",
                "value": "{\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "str",
        "x": 1440,
        "y": 1060,
        "wires": [
            [
                "4556bbe2b6752294"
            ]
        ]
    },
    {
        "id": "53066672248ef2d3",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "AC2",
        "topic": "control/ac2/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cab09f144bd01e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 940,
        "wires": [
            [
                "e7cc8a1b6db9d872"
            ]
        ]
    },
    {
        "id": "8efb38ff522908c7",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "Exaust",
        "topic": "control/exhaust/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cab09f144bd01e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 1000,
        "wires": [
            [
                "73f5410955df9407"
            ]
        ]
    },
    {
        "id": "6f18ea277f5c936d",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "Lights",
        "topic": "control/light1/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cab09f144bd01e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 1060,
        "wires": [
            [
                "e33f3316d14bbe74"
            ]
        ]
    },
    {
        "id": "1a31660929a895a7",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "Exaust",
        "topic": "control/exhaust/state",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cab09f144bd01e5d",
        "x": 1610,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4556bbe2b6752294",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "Lights",
        "topic": "control/light1/state",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cab09f144bd01e5d",
        "x": 1610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5c9ba1f9c391a06a",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "AC2",
        "topic": "control/ac2/state",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f2ad3e6fd984269",
        "x": 1610,
        "y": 940,
        "wires": []
    },
    {
        "id": "d87826df4c360d89",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "AC1 - Modes",
        "topic": "control/ac1/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4f2ad3e6fd984269",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1290,
        "y": 1140,
        "wires": [
            [
                "9d4047db58259c08"
            ]
        ]
    },
    {
        "id": "cda8c69fbec94312",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "AC1 - Modes",
        "topic": "control/ac1/command",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f2ad3e6fd984269",
        "x": 1630,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9d4047db58259c08",
        "type": "ui-button-group",
        "z": "15bd93b7886c7131",
        "name": "AC1 Mode",
        "group": "508d9501dc585766",
        "order": 6,
        "width": 28,
        "height": 1,
        "label": "AC1 Mode",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Cool",
                "icon": "air-conditioner",
                "value": "{\"mode\":\"cool\",\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#999999"
            },
            {
                "label": "Fan",
                "icon": "fan",
                "value": "{\"mode\":\"fan\",\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#009999"
            },
            {
                "label": "Dry",
                "icon": "water-percent",
                "value": "{\"mode\":\"dry\",\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#ff6666"
            },
            {
                "label": "Auto",
                "icon": "",
                "value": "{\"mode\":\"auto\",\"power\":\"on\",\"source\":\"manual\"}",
                "valueType": "json",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "str",
        "x": 1450,
        "y": 1140,
        "wires": [
            [
                "cda8c69fbec94312"
            ]
        ]
    },
    {
        "id": "db210b6c787a4677",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "AC1 - Temp",
        "topic": "control/ac1/command",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f2ad3e6fd984269",
        "x": 1690,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4478016f0cf876bd",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "AC1 - Modes",
        "topic": "control/ac1/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4f2ad3e6fd984269",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1290,
        "y": 1220,
        "wires": [
            [
                "cdf647fd898ed832",
                "41a4d894d879362b"
            ]
        ]
    },
    {
        "id": "cdf647fd898ed832",
        "type": "ui-dropdown",
        "z": "15bd93b7886c7131",
        "group": "508d9501dc585766",
        "name": "AC 1 Temperature",
        "label": "Temperature",
        "tooltip": "",
        "order": 7,
        "width": 28,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "chips": true,
        "clearable": false,
        "options": [
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": 19,
                "type": "num"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            },
            {
                "label": "24",
                "value": "24",
                "type": "str"
            },
            {
                "label": "25",
                "value": "25",
                "type": "str"
            },
            {
                "label": "26",
                "value": "26",
                "type": "str"
            },
            {
                "label": "27",
                "value": "27",
                "type": "str"
            },
            {
                "label": "28",
                "value": "28",
                "type": "str"
            },
            {
                "label": "29",
                "value": "29",
                "type": "str"
            },
            {
                "label": "30",
                "value": "30",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 1470,
        "y": 1220,
        "wires": [
            [
                "b9dcf79933ead4aa"
            ]
        ]
    },
    {
        "id": "b9dcf79933ead4aa",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 13",
        "func": "const temp = msg.payload\nmsg.payload = JSON.stringify({\n    \"temp\": temp,\n    \"source\": \"manual\"\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 1220,
        "wires": [
            [
                "db210b6c787a4677"
            ]
        ]
    },
    {
        "id": "11f5b8c3b122a3e7",
        "type": "function",
        "z": "15bd93b7886c7131",
        "name": "function 12",
        "func": "msg.payload = {\n    humidity: msg.payload.RH,\n    temperature: msg.payload.TEMP,\n    pm1: msg.payload.PM1P0,\n    pm2_5: msg.payload.PM2P5,\n    pm4: msg.payload.PM4P0,\n    pm10: msg.payload.PM10P0,\n    voc: msg.payload.VOCIndex,\n    nox: msg.payload.NOXIndex\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 620,
        "wires": [
            [
                "d8e6681223b99e66"
            ]
        ]
    },
    {
        "id": "b4702bc5f9cf64b5",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "Sen55Sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5109c8e6516db89d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "11f5b8c3b122a3e7"
            ]
        ]
    },
    {
        "id": "41a4d894d879362b",
        "type": "debug",
        "z": "15bd93b7886c7131",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1300,
        "wires": []
    },
    {
        "id": "d8e6681223b99e66",
        "type": "mqtt out",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "sensor/data/sen55",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f2ad3e6fd984269",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4d1fa35f303206c",
        "type": "mqtt in",
        "z": "15bd93b7886c7131",
        "name": "",
        "topic": "sensor/data/sen55",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5109c8e6516db89d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 720,
        "wires": [
            [
                "2ec76f958ba37048",
                "9fe2d695460615a0",
                "82f37060c41e2882",
                "476ba76a3e7275f8",
                "02315f3817b98989",
                "19956109dc6e69d5",
                "3570dfc550c99963",
                "47b6ad1a53db9823"
            ]
        ]
    },
    {
        "id": "acf8919149992d2c",
        "type": "ui-group",
        "name": "Group 1",
        "page": "8a1e7b26a9b20865",
        "width": "60",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "700a915d250de3e6",
        "type": "ui-group",
        "name": "Temp & Humidity",
        "page": "1c1f1441dc306efd",
        "width": "12",
        "height": "5",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3bea1f8c830ff158",
        "type": "ui-group",
        "name": "Gases",
        "page": "1c1f1441dc306efd",
        "width": "12",
        "height": "5",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0c07a3e318ba2677",
        "type": "ui-group",
        "name": "Gauge",
        "page": "1c1f1441dc306efd",
        "width": "12",
        "height": "5",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5da2711f0655a739",
        "type": "ui-base",
        "name": "Office Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "982541f34a3c4ab5",
        "type": "ui-group",
        "name": "Particulate Matter",
        "page": "66064ad6e4f24a10",
        "width": "12",
        "height": "5",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "508d9501dc585766",
        "type": "ui-group",
        "name": "Control",
        "page": "8a1e7b26a9b20865",
        "width": "60",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2104f2a6263e80a8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f2ad3e6fd984269",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cab09f144bd01e5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5109c8e6516db89d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8a1e7b26a9b20865",
        "type": "ui-page",
        "name": "Home",
        "ui": "5da2711f0655a739",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "fb2d96cb99661a71",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "60"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1c1f1441dc306efd",
        "type": "ui-page",
        "name": "Historical Data",
        "ui": "5da2711f0655a739",
        "path": "/data",
        "icon": "chart-line",
        "layout": "grid",
        "theme": "fb2d96cb99661a71",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "66064ad6e4f24a10",
        "type": "ui-page",
        "name": "AQI",
        "ui": "5da2711f0655a739",
        "path": "/aqi",
        "icon": "air-filter",
        "layout": "grid",
        "theme": "fb2d96cb99661a71",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fb2d96cb99661a71",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "bd8b138d5dccfd64",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]